$blue:     #0984e3;
$indigo:   #6610f2;
$purple:   #6c5ce7;
$pink:     #e83e8c;
$red:      #d63031;
$orange:   #F95811;
$orange-b: #E82015;
$yellow:   #ff9d00;
$green:    #00b894;
$teal:     #20c997;
$cyan:     #17a2b8;
$silver:   #e4e4e4;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$dark:     #161616;
$dark-2:   #101010;



$primary:       $blue;
$secondary:     $green;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;



