// Set your brand colors
$orange:#F97E45;
$yellow	:#FBD334;
$green:#17c588;
//$turquoise	:#;
//$cyan	:#;
$blue	:#3399FF;
$purple	:#C34CFF;
$red:#DB3059;



// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
$primary: $blue;
$secondary:$green;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//Theme General
$text:#10182B;
$bg:#EAE8E5;
