$global-font:'Open Sans', sans-serif;
$heading-font:'Open Sans', sans-serif;
$subheading-font:'Open Sans', sans-serif;
$color-glogal-font:$dark;
$bg-app:white;
//path to assets
$assets:'http://localhost:3000/www/ginger/assets';

//Global size font
$font-size-global:16;
